{% extends "base.html" %}

{% load static %} <!-- For some reason I can't load my own css rn?? -->

{% block content %}

<div class="container">

  {% for license in license_list %}
    {% if license.on_machine %}
      <div class="row">
        {% if license.on_machine.assigned_to %}
            <div class="col" style="text-align: center;">{{ license.on_machine.assigned_to }}</div>
        {% else %}
            <div class="col" style="text-align: center;">Not Assigned</div>
        {% endif %}

        <div class="col" style="text-align: center;">{{ license.on_machine }}</div>
        <div class="col" style="text-align: center;">{{ license.name }}</div>
      </div>
      {% endif %}
  {% endfor %}
</div>

{% endblock %}
