{% extends "base.html" %}

{% block content %}

{% load static %} 
<link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/twiggy_style.css' %}">

<div class="floating-table">
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col" class="center thirds">SOLDIER ASSIGNED</th>
        <th scope="col" class="center thirds">MACHINE</th>
        <th scope="col" class="center thirds">LICENSE</th>
      </tr>
    </thead>
    <tbody>
      {% for license in license_list %}
        {% if license.on_machine %}
          <tr scope="row">
          {% if license.on_machine.assigned_to %}
              <td class="center">{{ license.on_machine.assigned_to }}</td>
          {% else %}
              <td class="center">Not Assigned</td>
          {% endif %}

              <td class="center">{{ license.on_machine }}</td>
              <td class="center">{{ license.name }}</td>
          </tr>

        {% endif %}
      {% endfor %}
    </tbody>
  </table>
  <a href="/admin">
    <button type="button" class="btn btn-primary">Admin Page</button>
  </a>
</div>

{% endblock %}
