{% extends "base.html" %}

{% load static %} <!-- For some reason I can't load my own css rn?? -->

<link rel="stylesheet" type="text/css" href="{% static 'dashboard/twiggy_style.css'%}"

{% block content %}

<div class="container">
  <div class="row">
    <div class="col twiggy-column">Soldier Assigned</div>
    <div class="col" style="text-align: center;">Machine</div>
    <div class="col" style="text-align: center;">License</div>
  </div>
</div>

<div class="container">

  {% for license in license_list %}
    {% if license.on_machine %}
      <div class="row">
        {% if license.on_machine.assigned_to %}
            <div class="col" style="text-align: center;">{{ license.on_machine.assigned_to }}</div>
        {% else %}
            <div class="col" style="text-align: center;">Not Assigned</div>
        {% endif %}

        <div class="col" style="text-align: center;">{{ license.on_machine }}</div>
        <div class="col" style="text-align: center;">{{ license.name }}</div>
      </div>
      {% endif %}
  {% endfor %}
</div>

{% endblock %}
