{% extends "base.html" %}

{% block content %}
{% load static %} 
<link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/twiggy_style.css' %}">

{# Create the places with the content will be rendered #}
<div class="visuals-container">

  <div id="container" class="visual">
    <canvas id="pie-chart"></canvas>
  </div>

  <div id="container" class="visual">
    <canvas id="bar-chart"></canvas>
  </div>

  <div id="container" class="visual">
    <canvas id="pie-chart2"></canvas>
  </div>

  <div id="container" class="visual">
    <canvas id="pie-chart3"></canvas>
  </div>

  <div id="container" class="visual">
    <canvas id="pie-chart4"></canvas>
  </div>

  <div id="container" class="visual">
    <canvas id="pie-chart5"></canvas>
  </div>

</div>
  


{# Create visual 1, a pie chart #}
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script>

    var pie_config = {
      type: 'pie',
      data: {
        datasets: [{
          data: {{ data|safe }},
          backgroundColor: [ 
            '#17BACA', 
            '#CA2717',
          ],
          label: 'Cool Licenses'
        }],
        labels: {{ labels|safe }}
      },
      options: {
        title: {
          display: true,
          text: 'Cool Licenses'
        },
        responsive: true
      }
    };

    

    window.onload = function() {
      var ctx1 = document.getElementById('pie-chart1').getContext('2d');
      window.myPie = new Chart(ctx1, pie_config);

      var ctx2 = document.getElementById('pie-chart2').getContext('2d');
      window.myPie = new Chart(ctx2, pie_config);

      var ctx3 = document.getElementById('pie-chart3').getContext('2d');
      window.myPie = new Chart(ctx3, pie_config);

      var ctx4 = document.getElementById('pie-chart4').getContext('2d');
      window.myPie = new Chart(ctx4, pie_config);

      var ctx5 = document.getElementById('pie-chart5').getContext('2d');
      window.myPie = new Chart(ctx5, pie_config);

      var ctx6 = document.getElementById('pie-chart6').getContext('2d');
      window.myPie = new Chart(ctx6, pie_config);
    };

  </script>

{# Create visual 2, a bar chart #}


{% endblock %}